<div class='text-center content'>
    <div @itemState>
        <h1>BookJump</h1>

        <p class='lead'>The first rule of bookjump is don't talk about bookjump.</p>
        <span style="font-size: 60pt" class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
    </div>
</div>
<div class="container" @searchState>
    <h1>Features:</h1>
    <hr />
    <div>
        <ul class='nav nav-pills nav-stacked col-md-4'>
            <li><a>Catalogue your books online</a></li>

        </ul>


        <ul class='nav nav-pills nav-stacked col-md-4'>
            <li><a>See all of the books our users own</a></li>
        </ul>
        <ul class='nav nav-pills nav-stacked col-md-4'>
            <li><a>Request to borrow other users' books</a></li>
        </ul>
        <hr />
        <ul class='nav nav-pills nav-stacked col-md-4'>
            <li><a>Easily manage books and requests from your dashboard</a></li>
        </ul>

        <!--<li>See all of the books our users own</li>
        <li>Request to borrow other users' books</li>
        <li>Easily manage books and requests from your dashboard</li>-->


    </div>



</div>